body{ 
     background-color: #ffe0a0;
}
.container{
    display: block ;
	max-width:900px;
	background-color:#ce4242;  
	border: 5px solid black; 	
	padding: 10px;
	margin: 40px auto;
	font-family:arial; 
}

.logo{
	width:50
}
.bet-table {
	width: 100%;
	background-color:#ffe0a0;
}
.bet-table tr td{
	border: 1px solid #999;
    padding: 4px;
}